<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.learn.lister.cn">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"

        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:replace="android:icon, android:theme"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
        </activity>
        <!--“singleInstance”是其所在栈的唯一activity，它会每次都被重用。-->
        <activity
            android:name=".RedPackageActivity"
            android:launchMode="singleInstance"/>
        <activity
            android:name=".FirstFloor"
            android:launchMode="singleInstance"/>
        <activity
            android:name=".SecondFloor"
            android:launchMode="singleInstance"/>
        <activity
            android:name=".ThirdFloor"
            android:launchMode="singleInstance"/>
        <activity
            android:name=".FourthFloor"
            android:launchMode="singleInstance"/>
        <activity
            android:name=".FifthFloor"
            android:launchMode="singleInstance"/>
        <activity android:name=".LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>